config CHIP_CHOICE
    string
    default "T5AI"

config BOARD_CHOICE
    string
    default "ATK_T5AI_MINI_BOARD"

config BOARD_CONFIG
    bool
    default y
    select ENABLE_AUDIO_CODECS
    select ENABLE_AUDIO_AEC
    select ENABLE_LED
    select ENABLE_BUTTON

choice ATK_T5AI_MINI_BOARD_EX_LCD_MODULE
    prompt "choose expansion lcd module for ATK_T5AI_MINI_BOARD"
    default ATK_T5AI_MINI_BOARD_LCD_MD0240_SPI

    config ATK_T5AI_MINI_BOARD_LCD_MD0240_SPI
        bool "support 2.4 inch spi LCD module"
        select ENABLE_DISPLAY
        select ENABLE_LVGL_V8_RGB565_SWAP if (LVGL_VERSION_8 && LVGL_V8_COLOR_DEPTH_16)
        select ENABLE_LVGL_DUAL_DISP_BUFF if (ENABLE_LIBLVGL)
        select ENABLE_LVGL_OS_FREERTOS if (LVGL_VERSION_9)

    config ATK_T5AI_MINI_BOARD_LCD_MD0700R_RGB
        bool "support 7 inch rgb LCD module"
        select ENABLE_DISPLAY
        select ENABLE_TP
        select ENABLE_LVGL_DUAL_DISP_BUFF if (ENABLE_LIBLVGL)
        select ENABLE_LVGL_OS_FREERTOS if (LVGL_VERSION_9)

    config ATK_T5AI_MINI_BOARD_LCD_MD0430R_RGB
        bool "support 4.3 inch rgb LCD module"
        select ENABLE_DISPLAY
        select ENABLE_TP
        select ENABLE_LVGL_DUAL_DISP_BUFF if (ENABLE_LIBLVGL)
        select ENABLE_LVGL_OS_FREERTOS if (LVGL_VERSION_9)

    config ATK_T5AI_MINI_BOARD_LCD_NONE
        bool "no expansion lcd module"
endchoice

choice ATK_T5AI_MINI_BOARD_EX_CAMERA_MODULE
    prompt "choose expansion camera module for ATK_T5AI_MINI_BOARD"
    default ATK_T5AI_MINI_BOARD_CAMERA_OV2640

    config ATK_T5AI_MINI_BOARD_CAMERA_OV2640
        bool "support OV2640 camera module"
        select ENABLE_CAMERA

    config ATK_T5AI_MINI_BOARD_CAMERA_OV5640
        bool "support OV5640 camera module"
        select ENABLE_CAMERA

    config ATK_T5AI_MINI_BOARD_CAMERA_NONE
        bool "no expansion camera module"
endchoice
