CONFIG_BOARD_CHOICE_RASPBERRY_PI=y
CONFIG_AUDIO_CODEC_NAME="audio_codec"
CONFIG_ENABLE_BT_SERVICE=y
CONFIG_AI_HEAP_IN_PSRAM=y
CONFIG_ENABLE_AI_PLAYER=y
CONFIG_ENABLE_BUILD_OPUS=y
CONFIG_ENABLE_AUDIO_SUBSYS=y
# CONFIG_AUDIO_SUBSYS_MODULE_AEC is not set
# CONFIG_AUDIO_SUBSYS_MODULE_AGC is not set
# CONFIG_AUDIO_SUBSYS_MODULE_FILTER is not set
# CONFIG_AUDIO_SUBSYS_MODULE_NS is not set
# CONFIG_AUDIO_SUBSYS_MODULE_RESAMPLE is not set
CONFIG_AUDIO_SUBSYS_MULTI_BASE_SPEEXDSP=y
CONFIG_AUDIO_SUBSYS_MODULE_KWS=y
CONFIG_ENABLE_LED=y
CONFIG_ENABLE_AUDIO_AEC=y
