__pycache__
.vscode
.tags
.env.json
.cache
.clangd
.cursor
.target_logging

CMakeCache.txt
/CMakeFiles
compile_commands.json

/.venv
/tmp
/.cache
/cache
/output
/build
tuyadb/
/platform/*/
__pycache__
.build
*.using_config
.mirror
dist

/arduino-tuyaopen
/tools/tyutool/
/.set_example
/dist
*monitor.log

