config CHIP_CHOICE
    string
    default "T5AI"

config BOARD_CHOICE
    string
    default "TUYA_T5AI_EVB"

config BOARD_CONFIG
    bool
    default y
    select ENABLE_AUDIO_CODECS
    select ENABLE_AUDIO_AEC
    select ENABLE_LED
    select ENABLE_BUTTON
    select ENABLE_BUTTON_2
    select ENABLE_DISPLAY
    select ENABLE_LVGL_OS_FREERTOS if (LVGL_VERSION_9)
    select ENABLE_LVGL_V8_RGB565_SWAP if (LVGL_VERSION_8 && LVGL_V8_COLOR_DEPTH_16)
    select ENABLE_LVGL_DUAL_DISP_BUFF if (ENABLE_LIBLVGL)
