CONFIG_PROJECT_VERSION="0.0.1"
# CONFIG_ENABLE_COMP_AI_MODE_ONESHOT is not set
# CONFIG_ENABLE_COMP_AI_MODE_WAKEUP is not set
# CONFIG_ENABLE_COMP_AI_MODE_FREE is not set
# CONFIG_ENABLE_AI_UI_ICON_FONT is not set
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_TUYA_T5AI_POCKET=y
CONFIG_BUTTON_NAME="btn_menu"
CONFIG_BUTTON_NAME_2="btn_enter"
CONFIG_BUTTON_NAME_3="btn_esc"
CONFIG_BUTTON_NAME_4="ai_chat_button"