config CHIP_CHOICE
    string
    default "T3"

config BOARD_CHOICE
    string
    default "T3_LCD_DEVKIT"

config BOARD_CONFIG
    bool
    default y
    select ENABLE_DISPLAY
    select ENABLE_TP
    select ENABLE_LVGL_V8_RGB565_SWAP if (LVGL_VERSION_8 && LVGL_V8_COLOR_DEPTH_16)