menu "Application config"
    config EXAMPLE_IR
        bool
        default y
        select ENABLE_IR

    config EXAMPLE_IR_ENABLE_NEC
        bool "Enable NEC demo"
        default y
        help
          Enable the NEC demo.

    config EXAMPLE_IR_SEND_TIMER
        int "IR send timer"
        default 3
        range 0 3
        help
          Select the timer for IR send driver.

    config EXAMPLE_IR_RECV_TIMER
        int "IR recv timer"
        default 3
        range 0 3
        help
          Select the timer for IR recv driver.
          
    config EXAMPLE_IR_TX_PIN
        int "IR tx pin"
        default 24
        range 0 63
        help
          Select the TX pin for IR driver.

    config EXAMPLE_IR_RX_PIN
        int "IR rx pin"
        default 26
        range 0 63
        help
          Select the RX pin for IR driver.
endmenu