menuconfig ENABLE_COMP_AI_AUDIO
    select ENABLE_AI_PLAYER
    bool "enable ai audio input/output"
    default y

if (ENABLE_COMP_AI_AUDIO)
    choice
        prompt "select ai audio input codec"
        default ENABLE_COMP_AI_AUDIO_CODEC_PCM

    config ENABLE_COMP_AI_AUDIO_CODEC_PCM
        bool "enable ai audio pcm codec"

    config ENABLE_COMP_AI_AUDIO_CODEC_OPUS
        bool "enable ai audio opus codec"

    config ENABLE_COMP_AI_AUDIO_CODEC_SPEEX
        bool "enable ai audio speex codec"

    endchoice

    choice 
        prompt "select player alert source"
        default AI_PLAYER_ALERT_SOURCE_LOCAL

    config AI_PLAYER_ALERT_SOURCE_LOCAL
        bool "use local alert source"

    config AI_PLAYER_ALERT_SOURCE_CLOUD
        bool "use cloud alert source"

    config AI_PLAYER_ALERT_SOURCE_CUSTOM
        bool "use custom alert source"

    endchoice

endif