config CHIP_CHOICE
    string
    default "T5AI"

config BOARD_CHOICE
    string
    default "T5AI_OTTO"

config BOARD_CONFIG
    bool
    default y
    select ENABLE_AUDIO_CODECS
    select ENABLE_AUDIO_AEC


choice T5AI_OTTO_EX_MODULE
    prompt "choose expansion module for T5AI_OTTO"
    default T5AI_OTTO_EX_MODULE_NONE

    config T5AI_OTTO_EX_MODULE_NONE
        bool "no expansion module"

    config T5AI_OTTO_EX_MODULE_ST7789
        bool "ST7789 240x240 spi LCD"
        select ENABLE_DISPLAY
        select ENABLE_LVGL_V8_RGB565_SWAP if (LVGL_VERSION_8 && LVGL_V8_COLOR_DEPTH_16)
        select ENABLE_LVGL_DUAL_DISP_BUFF if (ENABLE_LIBLVGL)
	    select ENABLE_LVGL_OS_FREERTOS if (LVGL_VERSION_9)

    config T5AI_OTTO_EX_MODULE_ST7735S_XLT
        bool "ST7735S XLT 160x80 spi LCD"
        select ENABLE_DISPLAY
        select ENABLE_LVGL_V8_RGB565_SWAP if (LVGL_VERSION_8 && LVGL_V8_COLOR_DEPTH_16)
	    select ENABLE_LVGL_DUAL_DISP_BUFF if (ENABLE_LIBLVGL)
	    select ENABLE_LVGL_OS_FREERTOS if (LVGL_VERSION_9)

    config T5AI_OTTO_EX_MODULE_GC9D01
        bool "GC9D01 160x160 spi LCD"
        select ENABLE_DISPLAY
        select ENABLE_LVGL_DUAL_DISP_BUFF if (ENABLE_LIBLVGL)
	    select ENABLE_LVGL_OS_FREERTOS if (LVGL_VERSION_9)
endchoice