CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_ID="alon7qgyjj8yus74"
CONFIG_ENABLE_COMP_AI_AUDIO_CODEC_OPUS=y
# CONFIG_ENABLE_COMP_AI_DISPLAY is not set
CONFIG_ENABLE_UART=y
CONFIG_KWS_MODEL_PATH="~/tuyaopen_models/mdtc_chunk_300ms.mnn"
CONFIG_KWS_MODEL_TOKEN_PATH="~/tuyaopen_models/tokens.txt"
# CONFIG_ENABLE_KEYBOARD_INPUT is not set
CONFIG_BOARD_CHOICE_DshanPI_A1=y
CONFIG_ENABLE_TUYA_CODEC_OPUS=y
# CONFIG_ENABLE_TUYA_CODEC_OPUS_IPC is not set
CONFIG_ENABLE_AUDIO_ALSA=y
CONFIG_ALSA_DEVICE_CAPTURE="plughw:0,0"
CONFIG_ALSA_DEVICE_PLAYBACK="speaker_r"
