CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_ID="9inb01mvjqh5zhhr"
CONFIG_ENABLE_AI_UI_TEXT_STREAMING=y
CONFIG_ENABLE_COMP_AI_AUDIO_CODEC_OPUS=y
CONFIG_ENABLE_COMP_AI_VIDEO=y
CONFIG_BUTTON_NAME="ai_chat_button"
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_TUYA_T5AI_BOARD_EX_MODULE_35565LCD=y
CONFIG_ENABLE_EX_MODULE_CAMERA=y
CONFIG_AI_INPUT_STACK_SIZE=28672
CONFIG_ENABLE_TUYA_CODEC_OPUS=y
# CONFIG_ENABLE_TUYA_CODEC_OPUS_IPC is not set
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
CONFIG_LVGL_ENABLE_TP=y
