CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_ID="vdkfqxw300mfu8py"
CONFIG_ENABLE_CHAT_DISPLAY2=y
CONFIG_ENABLE_GUI2_CHATBOT=y
CONFIG_ENABLE_LANGUAGE_ENGLISH=y
CONFIG_ENABLE_BATTERY=y
CONFIG_BUTTON_NAME="ai_chat_button"
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_WAVESHARE_T5AI_TOUCH_AMOLED_1_75=y
CONFIG_ENABLE_LIBLVGL=y
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
CONFIG_LVGL_ENABLE_TP=y
CONFIG_LV_FONT_MONTSERRAT_22=y
CONFIG_LV_FONT_MONTSERRAT_48=y
CONFIG_BUTTION_STACK_SIZE=4096
