# CONFIG_ENABLE_COMP_AI_DISPLAY is not set
CONFIG_SYS_BUS_OUTBOUND_STACK_SIZE=2560
CONFIG_IM_BRIDGE_STACK_SIZE=2048
CONFIG_CRON_THREAD_STACK=1536
CONFIG_WS_SERVER_STACK_SIZE=1536
CONFIG_ACP_CLIENT_STACK_SIZE=2048
CONFIG_OUTBOUND_STACK_SIZE=3072
CONFIG_IM_FS_POLL_STACK=4096
CONFIG_IM_TG_POLL_STACK=4096
CONFIG_IM_DC_POLL_STACK=4096
CONFIG_IM_WX_POLL_STACK=4096
CONFIG_IM_WX_QR_STACK=4096
CONFIG_DUCKY_CLAW_AGENT_STACK=3072
CONFIG_ENABLE_SERIAL_CLI_CMD=y
CONFIG_SERIAL_CLI_STACK_SIZE=2048
CONFIG_DUCKY_CLAW_CONTEXT_BUF_SIZE=16384
CONFIG_BOARD_CHOICE_ESP32=y
CONFIG_BOARD_CHOICE_BREAD_COMPACT_WIFI=y
CONFIG_AI_INPUT_STACK_SIZE=2048
CONFIG_AI_OUTPUT_STACK_SIZE=2048
CONFIG_AI_PLAYER_STACK_SIZE=2048
CONFIG_AI_CLIENT_STACK_SIZE=2560
# CONFIG_ENABLE_AI_MONITOR is not set
CONFIG_AI_DL_IMAGE_UNIT_SIZE=2048
CONFIG_ENABLE_MBEDTLS_SSL_MAX_FRAGMENT_LENGTH=y
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
CONFIG_ENABLE_CUSTOM_CONFIG=y
# CONFIG_ENABLE_BUTTON=y
# CONFIG_BUTTON_NAME="ai_chat_button"
CONFIG_ENABLE_MBEDTLS_SHA512_C=y
CONFIG_ENABLE_MBEDTLS_SHA384_C=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_SECP256R1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_KEY_EXCHANGE_ECDHE_PSK=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_SECP384R1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_CURVE25519_ENABLED=y
CONFIG_STACK_SIZE_TIMERQ=2048
CONFIG_STACK_SIZE_WORK_QUEUE=2048
CONFIG_STACK_SIZE_MSG_QUEUE=2048
CONFIG_STACK_SIZE_LAN=2048
