config CHIP_CHOICE
    string
    default "T5AI"

config BOARD_CHOICE
    string
    default "T5AI_MINI"

config BOARD_CONFIG
    bool
    default y
    select ENABLE_AUDIO_CODECS
    select ENABLE_AUDIO_AEC


choice T5AI_MINI_EX_MODULE
    prompt "choose expansion module for T5AI_MINI"
    default T5AI_MINI_EX_MODULE_NONE

    config T5AI_MINI_EX_MODULE_NONE
        bool "no expansion module"

    config T5AI_MINI_EX_MODULE_13565LCD
        bool "1.54 inch 240x240 spi LCD"
        select ENABLE_DISPLAY
        select ENABLE_LVGL_DUAL_DISP_BUFF if (ENABLE_LIBLVGL)
        select ENABLE_LVGL_OS_FREERTOS if (LVGL_VERSION_9)
    config T5AI_MINI_EX_MODULE_ST7735S_XLT
        bool "ST7735S XLT 160x80 spi LCD"
        select ENABLE_DISPLAY
        select ENABLE_LVGL_DUAL_DISP_BUFF if (ENABLE_LIBLVGL)
	    select ENABLE_LVGL_OS_FREERTOS if (LVGL_VERSION_9)
endchoice