menu "Application config"

    config EXAMPLE_I2C_PORT
        int "i2c port"
        default 0
        range 0 3

    config EXAMPLE_I2C_SCL_PIN
        int "scl pin"
        default 13
        range 0 63

    config EXAMPLE_I2C_SDA_PIN
        int "sda pin"
        default 15
        range 0 63

endmenu