menuconfig ENABLE_COMP_AI_VIDEO
    select ENABLE_CAMERA
    bool "enable ai camera"
    default n

if(ENABLE_COMP_AI_VIDEO)
    config COMP_AI_VIDEO_WIDTH
        int "ai video input width"
        default 480

    config COMP_AI_VIDEO_HEIGHT
        int "ai video input height"
        default 480

    config COMP_AI_VIDEO_FPS        
        int "ai video input fps"
        default 20

    config ENABLE_COMP_AI_VIDEO_JPEG_QUALITY        
        bool "enable ai video input jpeg quality"
        default y
    
    config COMP_AI_VIDEO_JPEG_QUALITY_MAX_SIZE
        int "ai video input jpeg quality max size(kb)"
        default 25
        depends on ENABLE_COMP_AI_VIDEO_JPEG_QUALITY    

    config COMP_AI_VIDEO_JPEG_QUALITY_MIN_SIZE
        int "ai video input jpeg quality min size(kb)"
        default 10
        depends on ENABLE_COMP_AI_VIDEO_JPEG_QUALITY    
endif