menu "configure device driver"
    rsource "button/Kconfig"
    rsource "led/Kconfig"
    rsource "audio_codecs/Kconfig"
    rsource "display/Kconfig"
    rsource "tp/Kconfig"
    rsource "encoder/Kconfig"
    rsource "joystick/Kconfig"
    rsource "pmic/Kconfig"
    rsource "camera/Kconfig"
    rsource "ir/Kconfig"
    rsource "leds_pixel/Kconfig"
    rsource "imu/Kconfig"
endmenu