/**
 * @file tuya_app_config_secrets.h
 * @brief tuya_app_config_secrets module is used to 
 * @version 0.1
 * @copyright Copyright (c) 2021-2026 Tuya Inc. All Rights Reserved.
 */

#ifndef __TUYA_APP_CONFIG_SECRETS_H__
#define __TUYA_APP_CONFIG_SECRETS_H__

#include "tuya_cloud_types.h"

#ifdef __cplusplus
extern "C" {
#endif

// https://pbt.tuya.com/s?p=dd46368ae3840e54f018b2c45dc1550b&u=c38c8fc0a5d14c4f66cae9f0cfcb2a24&t=2
#define TUYA_PRODUCT_ID "xxxxxxxxxxxxxxxx"

// https://platform.tuya.com/purchase/index?type=6
#define TUYA_OPENSDK_UUID    "uuidxxxxxxxxxxxxxxxx"             // Please change the correct uuid
#define TUYA_OPENSDK_AUTHKEY "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" // Please change the correct authkey

// IM configuration
// feishu | telegram | discord | weixin
// NOTE: ESP32-S3 does not support weixin
#define IM_SECRET_CHANNEL_MODE      "feishu"

#define IM_SECRET_FS_APP_ID         ""
#define IM_SECRET_FS_APP_SECRET     ""

#define IM_SECRET_TG_TOKEN          ""

#define IM_SECRET_DC_TOKEN          ""
#define IM_SECRET_DC_CHANNEL_ID     ""

/* WebSocket authentication token -- set a non-empty value to enable auth */
#define CLAW_WS_AUTH_TOKEN          ""

/* openclaw ctrl configuration */
#define OPENCLAW_GATEWAY_HOST            "xxx.xxx.xxx.xxx"
#define OPENCLAW_GATEWAY_PORT            18789
#define OPENCLAW_GATEWAY_TOKEN           "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
#define DUCKYCLAW_DEVICE_ID              "duckyclaw-001"

#ifdef __cplusplus
}
#endif

#endif /* __TUYA_APP_CONFIG_SECRETS_H__ */
