config ENABLE_BUTTON
    bool "enable button"
    default n

if (ENABLE_BUTTON) 
    config BUTTION_STACK_SIZE
        int "button task stack size"
        default 2048
        range 1024 16384
        
    config BUTTON_NAME
        string "the name of button 1"
        default "button1"

    config ENABLE_BUTTON_2
        bool "enable button 2"
        default n

    config BUTTON_NAME_2
        string "the name of button 2"
        default "button2"
        depends on ENABLE_BUTTON_2

    config ENABLE_BUTTON_3
        bool "enable button 3"
        default n
        depends on ENABLE_BUTTON_2

    config BUTTON_NAME_3
        string "the name of button 3"
        default "button3"
        depends on ENABLE_BUTTON_3

    config ENABLE_BUTTON_4
        bool "enable button 4"
        default n
        depends on ENABLE_BUTTON_3

    config BUTTON_NAME_4
        string "the name of button 4"
        default "button4"
        depends on ENABLE_BUTTON_4

    config ENABLE_BUTTON_5
        bool "enable button 5"
        default n
        depends on ENABLE_BUTTON_4

    config BUTTON_NAME_5
        string "the name of button 5"
        default "button5"
        depends on ENABLE_BUTTON_5

    config ENABLE_BUTTON_6
        bool "enable button 6"
        default n
        depends on ENABLE_BUTTON_5

    config BUTTON_NAME_6
        string "the name of button 6"
        default "button6"
        depends on ENABLE_BUTTON_6
endif
