CONFIG_BOARD_CHOICE_T2=y
CONFIG_ENABLE_BT_SERVICE=y
CONFIG_ENABLE_LIBLWIP=y
CONFIG_MEM_SIZE=13312
CONFIG_PBUF_LINK_ENCAPSULATION_HLEN=0
CONFIG_LWIP_NETIF_HOSTNAME=1
CONFIG_LWIP_TCPIP_CORE_LOCKING=1
CONFIG_LWIP_EAPOL_SUPPORT=0
CONFIG_LWIP_TX_PBUF_ZERO_COPY=0
CONFIG_CONFIG_TUYA_SOCK_SHIM=0
CONFIG_LWIP_DHCPC_STATIC_IPADDR_ENABLE=1
CONFIG_ETHARP_SUPPORT_STATIC_ENTRIES=1
CONFIG_LWIP_NETIF_STATUS_CALLBACK=1