# Ktuyaconf
menu "configure tuyaopen"
    rsource "common/Kconfig"
    rsource "tal_cli/Kconfig"
    rsource "tuya_cloud_service/Kconfig"
    rsource "tuya_ai_service/Kconfig"
    rsource "audio_player/Kconfig"
    rsource "liblwip/Kconfig"
    rsource "libtls/Kconfig"
    rsource "tal_system/Kconfig"
    rsource "liblvgl/Kconfig"
    rsource "peripherals/Kconfig"
    rsource "tuya_p2p/Kconfig"
    rsource "micropython/Kconfig"
endmenu
